<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	    <title>Registration application DEMO</title>
	</head>
	<body>
		<div>
			<h1>Welcome, visitor!</h1>
			<a href="/main">Main page</a>
		</div>
	</body>
</html>