<!DOCTYPE HTML>
<html>
	<head>
	    <title>Hello Spring</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" type="text/css" href="css/styles.css" />
	    <link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	    <link href='//use.fontawesome.com/releases/v5.0.13/css/all.css' rel="stylesheet">
	</head>
	<body>
		<div class="menuFormUser">
			<div class="menuHello">
				<h1>Hello!</h1>
				<p>This is my project written using Java, HTML / CSS and the PostgresSQL database on the Heroku server. In this project you can enter your data and it`s will appear in the list below. You can also filter the list of users.<br><br> The database is periodically cleared.</p>
			</div>
			<div class="menuInput">
				<h1 class="menuName">Enter your data</h1>
			    <form class="menuForm" method="post">
			        <input class="formItem" type="text" name="firstName" placeholder="First Name" required/>
			        <input class="formItem" type="text" name="secondName" placeholder="Second Name" required/>
			        <input class="formItem" type="number" name="age" placeholder="Age" required/>
			        <input class="formItem" type="text" name="city" placeholder="City" required/>
			        <div class="menuBtn"><button class="btn" type="submit">Add user</button></div>
			    </form>
			</div>
		</div>
		<div class="listUsers">
			<div class="listInfo">
				<h1 class="listName">List Users</h1>
				<div class="gridName">
					<b>ID</b>
			        <span>First Name</span>
			        <span>Second Name</span>
			        <span>Age</span>
			        <span>City</span>
				</div>
				{{#users}}
				    <div class="gridMain">
				        <b><i class="fas fa-user"></i>{{id}}</b>
				        <span>{{firstName}}</span>
				        <span>{{secondName}}</span>
				        <span>{{age}}</span>
				        <span>{{city}}</span>
				    </div>
				{{/users}}
			</div>
			<div class="listSeaech">
				<form class="listForm" method="post">
					<h3>Search user</h3>
					<input type="text" name="filter" placeholder="Search">
					<button class="btn" type="submit">Find</button>
				</form>
			</div>
		</div>
	</body>
</html>